*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
nav>input{
    width: 40%;
    padding: 10px;
    border-radius: 10px;

}
::placeholder{
    font-size: 17px;
}


main{
    height: 700px;
    display: flex;
    justify-content: space-around;
    background-color: goldenrod;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
    
}
.card{
    height: 250px;
    width: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    background-color: white;
    border-radius: 20px;
    box-sizing: 0px 3px 5px rgba(0, 0, 0, 0.019);
}
main>.card:hover{
    transform: scale(1.1);
}
.card>img{
    height: 150px;
}
