*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 450px;

    
    height: 500px;
    width: 600px;
    display: flex;
    background-color:whit;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #00000031;
}