*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 80px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav>ul{
    display: flex;
    gap: 20px;
}
nav>ul>li{
    list-style: none;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
nav>button{
         padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: orange;
    color:white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px gray;
    letter-spacing: 1.2px;
}

main{
    height: 300px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main>.card{
    height: 220px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 20px;
}