*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color:black;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
button{
    height: 30px;
    width: 230px;
    border: none;
    border-radius: 5px;
}


#signup{
    background-color: rgb(61, 61, 190);
    color: white;
    letter-spacing: 0.5px;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#56a5f4;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
     
}



.left{
    width: 50%;
    height: 100vh;
}

.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 270px;
    flex-direction: column;
    background-color:white;
    border-radius: 15px;
    box-shadow: 2px 2px rgb(57, 111, 247);
    
}

input{
    height: 25px;
    width: 230px;
    
}

a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    font-size: bold;

}